<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuban.shop.mapper.CategoryMapper">
    <!-- 自定义 SQL -->
    <select id="selectByCondition" resultType="com.yuban.shop.pojo.origin.Category">
        SELECT * FROM category
        <where>
            <if test="cat_pid != null">
                AND cat_pid = #{cat_pid}
            </if>
            <if test="catname != null and catname != ''">
                AND cat_name LIKE CONCAT('%', #{catname}, '%')
            </if>
                AND is_del = false
        </where>
    </select>

    <!-- 根据 catname 查询 cat_id -->
    <select id="selectCatIdByCatName" resultType="java.lang.Long">
        SELECT cat_id FROM category
        WHERE cat_name = #{catname} AND is_del = false
    </select>

</mapper>